HF_API_KEY=
OPENAI_API_KEY=
OPENAI_BASE_URL=
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
JWT_REFRESH_TOKEN_EXPIRE_DAYS=

PYANNOTE_MODEL_PATH=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DB_HOST=
DB_PORT=5430

# =====================
# ВЫБОР ВЕКТОРНОЙ БД
# =====================
VECTOR_DB=qdrant  # или milvus

# =====================
# QDRANT
# =====================
QDRANT_HOST=
QDRANT_INTERNAL_PORT=
QDRANT_HOST_PORT=

# =====================
# MILVUS
# =====================
MILVUS_HOST=
MILVUS_INTERNAL_PORT=
MILVUS_HOST_PORT=
MILVUS_PORT=